<div id="about">
	<div class="offset1">
		<%= image_tag("about-icon.png", alt: "About Us", class: "page-icon" ) %>
		<h8>
			About Us
		</h8>
	</div>
	<div class="row">
		<div class="span12">
			<p class="black-p">
					We are a San Francisco based company focused on <span style='color: #28b3e8;'>A) </span> educating, training, and consulting web technology startups on all things sales with a strong emphasis on inside sales - <span style='color: #28b3e8;'>B) </span> Building easy-to-use, lightweight web and mobile apps for sales people at startups all the way up to the established enterprise.
			</p>
		</div>
	</div>
	<div class="offset1">
		<h4>
			Our Team
		</h4>
	</div>
	<div class="row">
		<div class="span10 photos">
			<%= image_tag("Jorge-pic.png", alt: "Jorge Soto" ) %>
			<%= image_tag("Alex-pic.png", alt: "Alejandro De Simone") %>
			<%= image_tag("Kiana-pic.png", alt: "Kiana Davari" ) %>
			<%= image_tag("Bill-pic.png", alt: "William Feeheley") %>
			<%= image_tag("Aslam-pic.png", alt: "Aslam Najeendeem") %>
		</div>
	</div>
	<div class="offset1">
		<h4>
			S4S Speakers and Mentors
		</h4>
	</div>
	<div class="row">
		<div class="span10 photos">
			<%= image_tag("Jason-pic.png", alt: "Jason Vargas") %>
			<%= image_tag("Bennett-pic.png", alt: "Bennett Phillips") %>
			<%= image_tag("John-pic.png", alt: "John Egan") %>
			<%= image_tag("Wade-pic.png", alt: "Wade Floyd") %>
			<%= image_tag("Noah-pic.png", alt: "Noah Barr") %>
			<%= image_tag("Kevin-pic.png", alt: "Kevin Stephens") %>
			
		</div>
	</div>
	
		
	
</div>
