<div id="community">
	<div class="offset1">
		<%= image_tag("community-icon.png", alt: "Community", class: "page-icon" ) %>
		<h7>
			Community
		</h7>
	</div>
	<div class="span8">
		<p>Connect with startup sales people from the Silicon Valley, </br>
			NYC, Boulder, Austin, Seattle, Los Angeles, and Boston.
		</p>
		<p>
			<p3 class="convo">
				Join the Conversation on:</br>
			</p3>
		</p>
		<%= link_to image_tag("FB-icon.png", class: "facebook"), "https://www.facebook.com/Sales4StartUps" %>
		<p3> Facebook </p3> 
		<%= image_tag("community-line.png", class: "community-line" )%>
		<%= link_to image_tag("Linkedin-icon.png", class: "facebook"), "http://www.linkedin.com/company/2615906" %>
		<p3> LinkedIn </p3> 
		<%= image_tag("community-line.png", class: "community-line" )%>
		<%= link_to image_tag("Twitter-icon.png", class: "facebook"), "http://twitter.com/sales4_startups" %>
		<p3> Twitter </p3> 
			
	</div>
	
</div>
