<div id="events">
	<div class="offset1">
		<%= image_tag("events-icon.png", alt: "Events", class: "page-icon" ) %>
		<h7>
			Our Events
		</h7>
	</div>
	<div class="row">
		<div class="span6">
			<p>Our public events are usually free or involve a small fee, and focus on educating our attendees on topics around sales, inside sales, prospecting, deal management, closing, account management, and more - basically if it's related to sales, we cover it.<br>
				<br>
				We use <%= link_to("EventBrite", "http://www.eventbrite.com/org/2354752688", id:"eventbrite") %> to promote our events, and have done events in San Francisco, Silicon Valley, and Austin.  
			</p>
			<!-- %= render 'forms/event_form' %> -->
			<a class="btn btn-warning btn-large button-margin" href="http://sales4startups.wufoo.com/forms/m7x3q1/" onclick="window.open(this.href,  null, 'height=260, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Sign Up For Our Newsletter</a>
		</div>
		<div class="span6">
			<p>
				<%= image_tag("recent-events-icon.png", alt: "Upcoming and Recent Events", class: "page-icon" ) %>
					<p3>
						Upcoming and Recent Events
					</p3>
				<br>
				<br>
				<p4>
					<!-- July 19, 2012 <br> <%= link_to("Sales for B2B Startups - Austin, TX", "http://sales4startupsaustin-eorg.eventbrite.com/", class: "event-links") %> <br><br>
					July 25, 2012 <br> <%= link_to("Sales for B2B Startups - San Francisco, CA", "http://sales4startupssoma2-eorg.eventbrite.com/", class: "event-links") %> <br><br> -->
					August 21, 2012 <br> <%= link_to("Webinar: Prospect List Building using Data.com, LinkedIn, and Google Spreadsheets", "http://s4swebinar-eorg.eventbrite.com/", class: "event-links") %> <br><br>
					August 22, 2012 <br> <%= link_to("Account Management and Client Services - Wilson Sonsini Goodrich & Rosati, San Francisco, CA", "http://sales4startupsamseries1-eorg.eventbrite.com/", class: "event-links") %> <br><br>
					August 22, 2012 <br> <%= link_to("S4S Official Launch Party at the new Lightning Tavern on Union St - San Francisco, CA", "http://s4slaunchparty-eorg.eventbrite.com/", class: "event-links") %> <br><br>
					August 29, 2012 <br> <%= link_to("Brick and Mortar Sales 101 for B2B Startups Webinar", "http://s4saustinwebinar-eorg.eventbrite.com/", class: "event-links") %> <br><br>
					August 30, 2012 <br> <%= link_to("NextSpace + Sales4StartUps Presents: Sales for B2B Startups in Los Angeles, CA", "NextSpace + Sales4StartUps Presents: Sales for B2B Startups in Los Angeles, CA", class: "event-links") %> <br><br>
				</p4>
			</p>
		</div>
	</div>	
</div>