<div id="services">
	<div class="offset1">
		<%= image_tag("services-icon.png", alt: "Services", class: "page-icon" ) %>
		<h7>
			Our Services
		</h7>
	</div>
	<div class="row">
		<div class="span9">
			<p>
				We are a small, agile, and experienced team focused on helping startups </br>
				with all their sales and sales operations needs. </br></br>
				<span style='color: #df901b;'>Things we do well:</span>
				<div class="row">
					<div class="span2 no-margin">
						<%= image_tag("services-icon.png", alt: "Services", class: "page-icon" ) %>
					</div>
					<div class="no-margin span7">
						<h3>
							Salesforce.com Setup, Training, Customizations, and Development.
						</h3>
						</br>
						<span style='color: white;'>We are experts in all things Salesforce.com. We'll customize </br>
							your account to fit the needs of your startup at the right place. </span>
					</div>	
				</div>
				</br>
				<div class="row">
					<div class="span2 no-margin">
						<%= image_tag("services-icon.png", alt: "Services", class: "page-icon" ) %>
					</div>
					<div class="no-margin span7">
						<h3>
							Outsourced B2B Lead Generation and Training.
						</h3>
						</br>
						<span style='color: white;'>Your pipeline is your lifeline period. We can provide high quality</br>
						 targeted leads and targeted lists. You can also outsource your </br>
						 appointment setting and lead generation efforts to us. </span>
					</div>	
				</div>
				</br>
				<div class="row">
					<div class="span2 no-margin">
						<%= image_tag("services-icon.png", alt: "Services", class: "page-icon" ) %>
					</div>
					<div class="no-margin span7">
						<h3>
							Marketo Setup, Training, Customizations, and Implementation.
						</h3>
						</br>
						<span style='color: white;'>Lorem Ipsum</br> </span>
					</div>	
				</div>
				</br>
				<div class="row">
					<div class="span2 no-margin">
						<%= image_tag("services-icon.png", alt: "Services", class: "page-icon" ) %>
					</div>
					<div class="no-margin span7">
						<h3>
							Sales and Marketing Strategy Consulting.  
						</h3>
						</br>
						<span style='color: white;'>Lorem Ipsum </span>
					</div>	
				</div>
				<p>		
				<span style='color: #df901b;'>Need Some Assistance?</span>
				<%= render 'forms/services_form'%>
				</p>		
			</p>
		</div>
	</div>		
</div>