<div class="home-page">
	<h1>Sales Education and Software</h1>
	<h2>
		We teach B2B tech startups how to sell -- and build our own software.
	</h2>
	<div class="center">
	<a title="$.scrollTo( '#services' );" href="#services" class="btn btn-large btn-primary" >Learn About Our Services</a>
	<a title="$.scrollTo( '#apps' );" href="#apps" class="btn btn-large btn-success button-margin">Find Useful Sales Apps</a>
	<%= link_to image_tag("arrow.png", alt: "Click Here!" )  %>
	</div>
	<div class="center" id="splash-icons">
		<%= link_to image_tag("1-leadcreator.png", alt: "Lead Creator" ) %>
		<%= link_to image_tag("2-seminars.png", alt: "B2B Lead Generation" ) %>
		<%= link_to image_tag("3-crm.png", alt: "CRM Setup & Training" ) %>
		<%= link_to image_tag("4-strategy.png", alt: "Sales Strategy" ) %>
		<%= link_to image_tag("2-B2B.png", alt: "Hubspot Consulting" ) %>
	</div>
	<div class="offset1">
		<h4>
			<%= image_tag("rss.png", alt: "RSS" , id: "rss") %>
			Latest Blogs, News, and Events
		</h4>
		<div class="well">
			<h6>
				<%= link_to("August 22, 2012 (6PM) - Account Management and Client Services for B2B Tech Startups - San Francisco, CA | Free", "http://sales4startupsamseries1-eorg.eventbrite.com/") %><br /><br />
				<%= link_to("August 22, 2012 (9PM) - S4S Official Launch Party at Lightning Tavern - Union St, San Francisco, CA | Free", "http://s4slaunchparty-eorg.eventbrite.com/") %>
			</h6>
		</div>
	</div>
</div>

